<div class="container">
  <div class="header-container">
    <div class="btn-container">
      <button mat-icon-button class="btn-circle">
        <mat-icon class="icon-color" (click)="logout()"> logout</mat-icon>
      </button>
    </div>

    <div class="header-title">
      <h1 class="h1-title">CleanUp Event</h1>
    </div>
  </div>

  <div class="info-container">
    <div class="img-container">
      <img src="./../../../../assets/images/Happy Earth-amico.png" />
    </div>
    <div class="head-container">
      <h1 class="head-title">Hi! {{ currentUser.name }}</h1>
    </div>
  </div>

  <div class="activity-container">
    <h2 class="activity-title">Your Activities</h2>
    <h3 class="activity-label">Trash bags cleaned</h3>
    <p class="p-style">{{ currentUser.trashBags }}</p>
    <h3 class="activity-label">Total Score</h3>
    <p class="p-style">{{ currentUser.score }}</p>
  </div>
</div>

<app-bottom-bar></app-bottom-bar>
