<div class="container">
  <!-- Header -->
  <div class="header-container">
    <h1 class="header-title">Leaderboard</h1>

    <!-- Table Header -->
    <div class="row header">
      <div class="cell rank">Rank</div>
      <div class="cell player">Player</div>
      <div class="cell points">Points</div>
    </div>
  </div>

  <!-- Leaderboard Table -->
  <div class="tab-container">
    <!-- User Rows -->
    <div
      *ngFor="let user of leaderboard; let i = index"
      [ngClass]="{ row: true, 'current-user': currentUser?.id === user.id }"
    >
      <div class="cell rank">{{ i + 1 }}</div>
      <div class="cell player">{{ user.name }}</div>
      <div class="cell points">{{ user.score }}</div>
    </div>
  </div>
</div>

<!-- Bottom Bar Component -->
<app-bottom-bar></app-bottom-bar>
