.container {
    padding: 1.6rem;
}

.header-title {
    color: #98C21D;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.tab-container {
    padding: 1rem;
}