<div class="container">
  <div class="button-row-container">
    <button
      mat-icon-button
      aria-label="Icon button with profile icon"
      routerLink="/home"
    >
      <mat-icon fontSet="material-icons-outlined">person</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Icon button with a camera icon"
      routerLink="/stepper"
    >
      <mat-icon fontSet="material-icons-outlined">camera_enhance</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Icon button with a assessment icon"
      routerLink="/leaderboard"
    >
      <mat-icon fontSet="material-icons-outlined">assessment</mat-icon>
    </button>
  </div>
</div>
