<div class="container">
  <div class="button-row-container">
    <button
      mat-icon-button
      aria-label="Icon button with profile icon"
      routerLink="/home"
      routerLinkActive="active"
    >
      <mat-icon>person</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Icon button with a camera icon"
      routerLink="/stepper"
      routerLinkActive="active"
    >
      <mat-icon>camera_enhance</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Icon button with an assessment icon"
      routerLink="/leaderboard"
      routerLinkActive="active"
    >
      <mat-icon>assessment</mat-icon>
    </button>
  </div>
</div>
