<div class="container">
  <button class="btn-circle">
    <span class="material-symbols-outlined" routerLink=""> arrow_back </span>
  </button>

  <h1 class="title">Create a new account</h1>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="example@email.com"
          formControlName="email"
        />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="confirmPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Organisation</mat-label>
        <mat-select formControlName="organisation">
          <mat-option value="Sogeti NL">Sogeti NL</mat-option>
          <mat-option value="Bayer">Bayer</mat-option>
          <mat-option value="ABN AMRO">ABN AMRO</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="registerForm.hasError('passwordMismatch')" class="error-message">
      Passwords do not match.
    </div>
    <div class="btn-container">
      <button
        mat-flat-button
        class="btn-filled"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Create account
      </button>
    </div>
  </form>

  <p class="custom-p">
    Already have an account? <a routerLink="./../signin">Sign in</a>
  </p>
</div>
