<div class="container">
  <mat-horizontal-stepper #stepper>
    <mat-step id="mat-step-style" completed="false">
      <div class="title-container">
        <h1 class="h1-title">Take a picture of the current situation</h1>
      </div>

      <div class="img-container">
        <img
          [src]="
            imageDetails.currentImageSrc || 'assets/images/Focus-amico.png'
          "
        />
      </div>
    </mat-step>
    <mat-step completed="false">
      <div class="title-container">
        <h1 class="h1-title">Take a picture of the current situation</h1>
      </div>

      <div class="img-container">
        <img
          [src]="
            imageDetails.afterImageSrc ||
            'assets/images/Underwater-selfie-amico.png'
          "
        />
      </div>
    </mat-step>
    <mat-step completed="false">
      <div class="title-container">
        <h1 class="h1-title">Summary</h1>
      </div>

      <div class="summary-container" *ngIf="imageDetails">
        <h2 class="h2-title">Current Situation</h2>
        <div class="img-thumbnail">
          <img
            id="blah"
            class="img-preview"
            [src]="
              imageDetails.currentImageSrc || 'assets/images/Focus-amico.png'
            "
            alt="your image"
          />
        </div>
        <h2 class="h2-title">After Situation</h2>
        <div class="img-thumbnail">
          <img
            id="blah"
            class="img-preview"
            [src]="
              imageDetails.afterImageSrc ||
              'assets/images/Underwater-selfie-amico.png'
            "
            alt="your image"
          />
        </div>
        <h2 class="h2-title">How many trash bags are in the photo?</h2>
        <input
          mdInput
          type="number"
          placeholder="Please enter trash bag counts"
          [value]="imageDetails.begCount"
          (change)="totalTrashBags($event)"
        />
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <div class="btn-container" *ngIf="stepper.selectedIndex !== 2">
    <button mat-icon-button class="btn-circle" (click)="goBack(stepper)">
      <mat-icon class="icon-color">arrow_back</mat-icon>
    </button>
    <button mat-icon-button class="btn-pill">
      <input
        #captureImageInput
        type="file"
        (change)="captureImageFile(stepper, captureImageInput)"
        id="captureImage"
        accept="image/*"
        capture
      />
      <mat-icon class="icon-color" (click)="captureImage(stepper)"
        >camera</mat-icon
      >
    </button>

    <button
      mat-icon-button
      class="btn-circle"
      (click)="goForward(stepper)"
      type="button"
    >
      <mat-icon class="icon-color">arrow_forward</mat-icon>
    </button>
  </div>

  <div class="btn-container" *ngIf="stepper.selectedIndex === 2">
    <button mat-icon-button class="btn-circle" (click)="goBack(stepper)">
      <mat-icon class="icon-color">arrow_back</mat-icon>
    </button>
    <button class="btn-submit" (click)="submit(stepper)">Submit</button>
  </div>
</div>

<app-bottom-bar></app-bottom-bar>
