<div class="container">
  <button class="btn-circle">
    <span class="material-symbols-outlined" routerLink=""> arrow_back </span>
  </button>

  <h1 class="title">Create a new account</h1>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" required />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="example@email.com"
          [formControl]="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="inputField">
        <mat-label>Organisation</mat-label>
        <mat-select [formControl]="organisation" required>
          <mat-option value="primary">Sogeti NL</mat-option>
          <mat-option value="primary">Bayer</mat-option>
          <mat-option value="primary">ABN AMRO</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-button class="btn-filled" type="submit">Create account</button>
  </form>

  <p class="custom-p">
    Already have an account? <a routerLink="./../signin">Sign in</a>
  </p>
</div>
