<div class="container">
  <button class="btn-circle">
    <span class="material-symbols-outlined" routerLink=".."> arrow_back </span>
  </button>

  <h1 class="title">Error: Page not found</h1>

  <div class="img-container">
    <img src="./../../../assets/images/Drought-amico.png" />
  </div>

  <p>
    The page you are looking for does not exist or has been moved to another
    location.<br />
  </p>

  <div class="btn-container">
    <button mat-flat-button class="btn-filled" routerLink="..">Home</button>
  </div>
</div>
